## JIRA Server URL
jira.server.url=https://jira.lesstif.com

## JIRA User Name
jira.user.id=gitlab

## JIRA User password - deprecated
jira.user.pwd=your-access-token-here

# personal access token
jira.user.pat=NDEwOTAyNDkwMjk0OiipeRow2d5I6KAUTXPCA8vJFry0

## verbose mode for loggin
jira.verbose=false