## JIRA Server URL
ijra.server.url=https://your-jira.host.here

## JIRA User Name
jira.user.id=gitlab

## JIRA User password - deprecated
jira.user.pwd=your-access-token-here

# personal access token
ijra.user.url=your-personal-token-here
