## JIRA Server URL
jira.server.url=https://your-jira-host.com

## JIRA User Name
jira.user.id=your-jira-account

## JIRA User password - deprecated
jira.user.pwd=dont-use-this

# personal access token
jira.user.pat=your-access-token-here

## verbose mode for logging
jira.verbose=false